name: Docker Image CI & Push to NCR

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  tag:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.tag.outputs.TAG }}
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
                  
      - name: Set version with TIMESTAMP
        id: tag
        run: echo "TAG=$(date +%s)" >> "$GITHUB_OUTPUT"

  ncr:
    runs-on: ubuntu-latest
    needs: tag
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 
        with:
          token: ${{ secrets.USER_TOKEN }}
   
      - name: Login to NCR
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.NCR }}
          username: ${{ secrets.NCR_USERNAME }}
          password: ${{ secrets.NCR_PASSWORD }}
          
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ secrets.NCR }}/slack-app:${{ needs.tag.outputs.tag }}
